<!doctype html>
<html>
<head>
<style type="text/css" media="all">
*{ font-family: 'Lucida Grande', Helvetica, sans-serif;
  padding:10px;
  margin:0px;
  text-align:center;
}
h2 {font-size:300px;}
</style>

<title>Is it Debo's Birthday</title>

<script src="jquery.js"></script>

<script>
//$(getUpdate);
function getUpdate()
{
  $("body").load("/");
  setTimeout(getUpdate, 1000);
}
</script>
</head>

<body>
<%= yield %>
</body>
</html>
